.pageBackground {
    background-color: rgb(27, 27, 27);
}

/* MENU SUPERIOR */
.menuTopo {
    position: sticky;
    top: 0;
    background: white;
    min-width: 1000px;
}

.menuSuperior {
    display: flex;
    padding: 5px 0;
    width: 1000px;
    margin: auto;
} 

.cursor {
    cursor:pointer;
    color: black;
}

.menuSuperiorEsquerda {
    flex: 1;
}

.menuSuperiorDireita {
    flex: 1;
    text-align: end;
}

/* PAGINA */

.h1 {
    font-size: 3.5em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.createMoviePage {
    width: 1000px;
    margin: 0 auto 3em;
}

.movieForm {
    background-color: gray;
    border-radius: 10px;
    display: grid;
    gap: 10px;
}

.label {
    font-size: 1.5em;
    margin: auto;
    color: white;
}

.input {
    margin: auto;
    width: 300px;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 2px 2px 6px  black;
    color: black;
    text-indent: 1em;
}

.input::placeholder {
    text-indent: 1em;
}

.inputTimeDate {
    text-indent: 7.5px;
}

.textarea {
    min-height: 180px;
}

.inputImage {
    margin: auto;
    color: white;
}

.divGenres {
    display: flex;
    justify-content: center;
}

.divSelectGenres {
    justify-content: center;
    margin: auto;
}

.checkboxGenre {
    width: 15px;
    height: 15px;
}

.labelGenre {
    color: white;
    font-size: 1.1em;
    margin-left: 1em;
}

.createMovieButton {
    width: 200px;
    margin: 10px auto 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
}