.pageBackground {
    background-color: rgb(27, 27, 27);
}

/* MENU SUPERIOR */
.menuTopo {
    position: sticky;
    top: 0;
    background: white;
    min-width: 1200px;
}

.menuSuperior {
    display: flex;
    padding: 5px 0;
    width: 1200px;
    margin: auto;
} 
 
.cursor {
    cursor:pointer;
    color: black;
}

.menuSuperiorEsquerda {
    flex: 1;
}

.menuSuperiorDireita {
    flex: 1;
    text-align: end;
}

/* PAGINA */

.moviePage {
    width: 1200px;
    margin: 50px auto;
}

.container{
    width: fit-content;
    margin: auto;
    background-color: rgb(81, 81, 81);
    border-radius: 10px;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.h1 {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}

.h2 {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 1em;
    color: white;
}

.h3 {
    font-size: 1.2em;
    margin-bottom: 0.8rem;
    color: white;
}

.h4 {
    margin-bottom: 0.8rem;
    color: white;
}

.reviewInputs {
    display: flex;
    margin-left: 40px;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    margin-bottom: 10px;
}

.userReviews {
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    margin-left: 40px;
    margin-bottom: 10px;
    text-align: left;
    padding: 1em;
}

.descriptionDiv {
    display: flex;
    border-radius: 5px;
    margin: 10px 30px;
}

.textareaDescription {
    border: 1px solid black;
    border-radius: 3px;
    min-height: 80px;
    width: 240px;
}

.inputGrades {
    margin: auto 0;   
}    

.labelInputs {
    margin: auto 1em;
}
.radioButtons {
    margin-left: 1em;
}

.sendButton {
    background-color: black;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.p {
    text-align: justify;
    color: white;
    margin-left: 40px;
    margin-bottom: 20px;
}


.flexInfoMovie {
    display: flex;
    padding: 30px;
}

.movieImg {
    height: 300px;
    width: 250px;
}

.movieInfo {
    margin: 0 auto;
}

