.formReg {
    background-color: rgb(221, 189, 148);
    text-align: center;
    margin-top: 6%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-top: 40px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}



.button {
    margin-top: 30px;
}

.input {
    margin-bottom: 2px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 7px;
}

.buttonLog {
    margin-top: 5px;
    margin-right: 65px;
    margin-bottom: 25px;
    font-size: 13px;
}

.buttonLog:hover {
    color: aliceblue;
}

.p1 {
    margin-top: 1%;
    margin-bottom: 30px;
    font-size: 30px;
}

/* Login */

.sendButton{
    margin-top: 5px;
    margin-bottom: 55px;
    font-size: 13px;
}

.sendButton:hover {
    color: aliceblue;
}